{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUMMARYKu</title>
	<link rel="icon" href="{% static 'images/un.png'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}">
        <link rel="stylesheet" href="{% static 'css/font.css'%}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   	<body>
	  	<center>
		<div class="page-header">
				   <h3><img src="{% static "images/logo.png" %}" alt="SUMMRYKu" width="600" height="200"/></h3>
				</div>
		</div>
		</center>
		<div class="navbar-collapse-collapse">
			<ul class="nav navbar-nav navbar-center">
				<li><a href="{% url 'about' %}">Tentang Aplikasi</a></li>
				<li><a href="{% url 'home' %}">Meringkas</a></li>
				<li><a href="{% url 'help' %}">Bantuan</a></li>

			</ul>
		</div>
		<div class="content-container">
			<div class="row">
				<div class="col-md-8">
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					{% block side_block %}{% endblock %}
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div>
						{% block body_block %}{% endblock %}
				</div>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<h1><center>©F i r d a  M a r y a n a</center><br><center><a href = "https://web.facebook.com/Firdamaryana " target="_blank"><i class="fa fa-facebook"></i></a><a href = "https://twitter.com/Firdamaryana" target="_blank" ><i class="fa fa-twitter"></i></a><a href = "https://www.instagram.com/firdamaryana/" target="_blank"><i class="fa fa-instagram"></i></a><a href = "https://www.linkedin.com/in/firda-maryana-1266a98a " target="_blank"><i class="fa fa-linkedin"></i></a></center></h1>
		</div>
	</body>
</html>
