{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="page-header2">
                <h1>Meringkas</h1><br>
			<div style="color:red;position:absolute;left:300px">
	
	{% if form.errors %}
	   {% for key, error_list in form.errors.iteritems %} 
	       {{error_list}}
	   {% endfor %} 
	{% endif %}

	</div>
		<center>
		<div style="color:red;position:absolute;left:310px;">{{error}}</div><br>

		<div class="text-here">		
		<p> Masukkan Teks Pada Kolom Dibawah Ini !</p></div><br>

		</center>
	<div class="saya">		

	<form method="post">
		{% csrf_token %}
	<center> 
		{{form.text}}
	</center><br>
		<center>
		<div class="sum-text">
		<p>Ringkas dalam</p><div class="sum-text2">
		<p>kalimat.</p></div><a>{{form.jumlah}}</a>
		</div>
		<button class= "page" style="margin-right:30px;">Ringkas</button></center>
	</form>
	</div>
	<br>
	<center> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="result">
	<p> Hasil Ringkasan : </p>
	</div>
	<br>
	<br>
	</center>
	<div class="kamu">
	<center>
        {{summary|safe}}
	</center>
	<br>
	<br>
	</div>
</div>
{% endblock %}
