{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}Beranda{% endblock %}

{% block body_block %}
    <div class="page-header2">
                <h1>Summarize</h1><br>
		<center>
	<div style="color:red;position:absolute;left:345px;">{{error}}</div><br>

		<div class="text-here">		
		<p> Paste Your Text Below ! </p></div><br>

		</center>
	<div class="saya">		

	<form method="post" action="/blog/home/">
		{% csrf_token %}
	<center> 
		{{form.text}}
	<div style="color:red;position:absolute;left:300px">{{form.errors}}</div>
	</center><br>
		<center>
		<div class="sum-text">
		<p>Summarize in</p><div class="sum-text2">
		<p>Sentences.</p></div><a><input type="text" name="nama" style="height: 25px; weight: 10px;width: 28px;"/></a>
		</div>
		<button class= "page" style="margin-right:30px;">Summarize</button></center>
	</form>
	</div>
	<br>
	<center> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="result">
	<p> Result : </p>
	</div>
	<br>
	</center>
	<div class="kamu">
	<center>
        {{summary|safe}}
	</center>
	<br>
	<br>
	</div>
</div>
{% endblock %}
