{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="page-header2">
                <h1>Meringkas</h1><br>
			<div style="color:red;position:absolute;left:30%"><br>
	
	{% if form.errors %}
	   {% for key, error_list in form.errors.iteritems %} 
	       {{error_list}}
	   {% endfor %} 
	{% endif %}

	</div>
		<center>
		<div style="color:red;position:absolute;left:30%;"><br>{{error}}</div><br>
		<div class="text-here">		
		<label class="text-label">Masukkan Teks Pada Kolom Dibawah Ini !</label>

		</center>
	<div class="saya">		

	<form method="post">
		{% csrf_token %}
	<center>
		{{form.text}}
	</center><br>
		<center>
		<div class="sum-text">
                <label class="sum-label">Ringkas Dalam</label><div class="sum-text2">
		<label class="sum-label2">Kalimat</label></div><div class="sum-text3">
                {{form.jumlah}}</div>
		<input class= "button" value= "Ringkas" type="submit"></center>
	</form>
	</div>
	<br>
	<center> 
	<div class="result">
	<label class="sum-label">Hasil Ringkasan :</label>
	</div>
	<br>
	<br>
	</center>
	<div class="kamu">
	<center>
        {{summary|safe}}
	</center>
	<br>
	<br>
	</div>
</div>
{% endblock %}
