.page-header1 {
    margin-top:15px;
    margin-bottom:1000px;
}

.page-header2 {
    margin-top:15px;
    margin-bottom:850px;
}

.page-header3 {
    margin-top:15px;
    margin-bottom:400px;
    font-family: Apple Chancery;
    font-size: 14pt;
    text-align: justify;
    margin-right: 200px;
}


.content-container {
    margin-right:15px;
    margin-left:-15px;
    position: absolute;
}

.row {
    background-color: #FFCCFF;
}

.container {
    background-color: #FFCCFF;
}

.navbar-collapse-collapse {
    background-color: #FFCCFF;
}

.page-header {
    background-color: #FF6666;
    margin-top: -15px;
    margin-bottom: -3px;
    padding: 8px 10px 10px 40px;
}

.page-header1 h1 {
    text-decoration: none;
    text-shadow: 1px 2px 1px #FF6666;
}

.page-header1 p {
    font-family: Apple Chancery;
    font-size: 14pt;
    text-align: justify;
    margin-right: 200px;
}

.page-header h1 {
    font-family: Apple Chancery;
    font-weight: bold;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000;
}

.page-header2 h1 {
    text-decoration: none;
    text-shadow: 1px 2px 1px #FF6666;
}

.page-header3 h1 {
    text-decoration: none;
    text-shadow: 1px 2px 1px #FF6666;
}

.containerku h3 {
    position: absolute;
    max-width: 100%;
    margin-top:-110px;
}

.page-header h2 {
    color: #3838;
    font-size: 21pt;
    font-family: Apple Chancery;
    font-weight: bold;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.p1, .p2 , .p3, .p4 {
    font-weight: bold;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.navbar-collapse-collapse ul{
    position: relative;
    left: 33%;
    margin-top:0px;
    margin-bottom: 0px;
    background-color: #FFCCCC;
    border: solid 1px;
}

.navbar-collapse-collapse li {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.navbar-collapse-collapse a {
    color: #CC0033;
    font-size: 14pt;
    font-family: Apple Chancery;
    font-weight: bold;
}

.navbar-collapse-collapse a:hover {
    color:#CC66FF;
}


.saya textarea	{
    position: relative;
    width:30%;
    height:15%;
    margin-right: 180px;
}


.kamu textarea { 
    width:40%;
    height:40%
}

.page hover {
    background : #FFFF33;
}

.saya button {
    position:absolute;
    left:375px;
    top:450px;
    margin-top:20px;
    margin-left:200px;
    display : block ;
    background : #FF3366;
    width : 150px;
    padding : 12px;
    cursor : pointer;
    color : #fff;
    border : 2px;
    margin : 2em auto 2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size:17px ;
}

.page-footer h1 {
    background-color: #FF6666;
    margin-top: -2px;
    margin-bottom: -10%;
    padding: 60px 20px 60px 40px;
    font-family: Apple Chancery;
    font-size: 20pt;
}

/* unvisited link */
.page-footer a:link {
    color: #ffffff;
}

/* visited link */
.page-footer a:visited {
    color: #FFFFFF;
}

/* mouse over link */
.page-footer a:hover {
    color: #FFFF00;
}

/* selected link */
.page-footer a:active {
    color: blue;
}

.page-footer i {
    width : 60px;
    height: 20px;
}

.page:hover {
    color: #660066; 
}


.sum-text p {
    position:absolute;
    left:340px;
    top:430px;
}

.sum-text a {
    position:absolute;
    left:440px;
    top:430px;
    color: #FF0066;
}

.sum-text2 p {
    position:absolute;
    left:492px;
    top:430px;
}

.selamat {
    position:absolute;
    left:400px;
    top:800px
}

.kamu {
    font-family: Apple Chancery;
    font-size: 12pt;
    text-align: justify;
    margin-right: 220px;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border: 4px dotted #FF0066;
}

.result {
    position:absolute;
    left:400px;
    top:550px;
}

.text-here p {
  -webkit-animation: fade-in 0.27s linear infinite alternate;
  -moz-animation: fade-in 0.27s linear infinite alternate;
  animation: fade-in 0.9s linear infinite alternate;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
}

.text-here p {
    position:absolute;
    margin-left:150px;
    margin-top:-30px;
}

.errorlist {list-style-type:none;}
