.page-header {
    background-color: #FF6666;
    margin-top: -15;
    padding: 8px 10px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000;
}

.containerku h3 {
 position: relative;
 left: 29%;
 float: left;
 right: 0%;
 margin-top:-100px;
}

.page-header h2 {
    font-size: 20pt;
    text-shadow: 1px 1px 1px #000;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {

}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.navbar-collapse-collapse ul{
 position: relative;
 left: 40%;
 margin-top:-10px;
 margin-bottom: 20px;
}

.navbar-collapse-collapse a {
color: 	#CC0033;
font-size: 14pt;
font-family: Apple Chancery;
font-weight: bold;
}
.page-header1 p {
font-family: Apple Chancery;
font-size: 14pt;
text-align: justify;
margin-right: 250px;
}

.saya textarea	{
width:40%;
height: 40%;
margin-right: 180px;
}


.kamu textarea {
width:40%;
height: 40%
}

.kamu button {
 position: relative;
 left: 40%;
 float: left;
 right: 0%;
 margin-top:20px;
 margin-left:200px;
 display : block ;
 background : #FF3366;
 width : 200px;
 padding : 12px;
 cursor : pointer;
 color : #fff;
 border : 0px;
 margin : 2em auto 2em;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 font-size:17px ;
}

.page hover {
background : #FFFF33;
}

.saya button {
 position:absolute;
 left:375px;
 top:450px;
 margin-top:20px;
 margin-left:200px;
 display : block ;
 background : #FF3366;
 width : 150px;
 padding : 12px;
 cursor : pointer;
 color : #fff;
 border : 2px;
 margin : 2em auto 2em;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 font-size:17px ;
}

.page-footer h1 {
 background-color: #FF6666;
 margin-top: 5;
 margin-bottom: 0;
 padding: 20px 20px 20px 40px;
 font-family: Apple Chancery;
 font-size: 12pt;
}

}
/* unvisited link */
.page-footer a:link {
    color: ;
}

/* visited link */
.page-footer a:visited {
    color: #FFFFFF;
}

/* mouse over link */
.page-footer a:hover {
    color: #FFFF00;
}

/* selected link */
.page-footer a:active {
    color: blue;
}

.page-footer i {
 width : 60px;
 height: 20px;
}

.page:hover {
 color: #660066;
}

.right-control {
  height: 100px;
  width: 100px; 
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #666666;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

.left-control {

  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;  
  z-index: 20;
  font-size: 24px;
  color: #FF3366;
  text-align: center;
}

.right-control {
  position: relative;
  right: 220px;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;  
  z-index: 20;
  font-size: 24px;
  color: #FF3366;
  text-align: center;
}
.sum-text p {
position:absolute;
left:340px;
top:430px;
}

.sum-text a {
position:absolute;
left:440px;
top:430px;
}

.sum-text2 p {
position:absolute;
left:475px;
top:430px;
}

.kamu {
font-family: Apple Chancery;
font-size: 12pt;
text-align: justify;
margin-right: 220px;
}

.result {
position:absolute;
left:440px;
top:550px;
}

.text-here p {
position:absolute;
left:370px;
top:70px;
}

